<<<<<<< HEAD
body {
    text-align: center;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
=======
body {
    text-align: center;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
>>>>>>> 922f6441616bda15f982b2001c1636951c61fa82
}